In [1]:
classic_cars = ["Pierce Arrow", "Oldsmobile", "Mustang"]

In [2]:
for car in classic_cars:
    print(car)

Pierce Arrow
Oldsmobile
Mustang

In [3]:
car

'Mustang'

In [4]:
sport_cars = ["Agera", "Regera", "Chiron", "Veyron"]

In [5]:
for car in sport_cars:
    print(car)

Agera
Regera
Chiron
Veyron

In [6]:
car

'Veyron'

In [7]:
for car in ["P", "h", "a", "n", "t", "o", "m"]:
    print(car)

P
h
a
n
t
o
m

In [8]:
for integer in 12132423:
    print(integer)

TypeError: 'int' object is not iterable

In [9]:
cameras = ["Canon EOS 500D",
          "Nikon D90",
          "Canon EOS 50D",
          "Canon EOS 450D"]

In [10]:
for camera in cameras:
    print(camera)

Canon EOS 500D
Nikon D90
Canon EOS 50D
Canon EOS 450D

In [12]:
num_list = [100, 800, 330, 220, 400, 900, 1100]
for num in num_list:
    if num < 500:
        print ("< 500" , num)
    else: 
        print (">= 500" , num)

< 500 100
>= 500 800
< 500 330
< 500 220
< 500 400
>= 500 900
>= 500 1100

In [13]:
r = range(10)
r

range(0, 10)

In [14]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(-4, 8))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [19]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [20]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [21]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [22]:
for i in range(2, 11, 3):
    print(i)

2
5
8

In [23]:
for i in range(2.2):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [24]:
for _ in range(7):
    print("Python is great")

Python is great
Python is great
Python is great
Python is great
Python is great
Python is great
Python is great

In [26]:
name_and_ages = {"John": 53,
                "Alice": 57,
                "Bill": 14,
                "Dave": 25}

In [27]:
for key in name_and_ages:
    print (key)

John
Alice
Bill
Dave

In [28]:
for key in name_and_ages:
    print ("Name: ", key, "Age: ", name_and_ages[key])

Name:  John Age:  53
Name:  Alice Age:  57
Name:  Bill Age:  14
Name:  Dave Age:  25

In [29]:
name_and_ages.keys()

dict_keys(['John', 'Alice', 'Bill', 'Dave'])

In [30]:
for key in name_and_ages.keys():
    print (key)

John
Alice
Bill
Dave

In [31]:
for val in name_and_ages.values():
    print (val)

53
57
14
25

In [32]:
name_and_ages.values()

dict_values([53, 57, 14, 25])

In [35]:
name_and_ages.items()

dict_items([('John', 53), ('Alice', 57), ('Bill', 14), ('Dave', 25)])

In [39]:
for key,val in name_and_ages.items():
    print (key, val)

John 53
Alice 57
Bill 14
Dave 25