In [1]:
if 25 < 30:
    print("25 is less than 30")

25 is less than 30

In [3]:
if 25 > 30:
    print("Really? 25 is greater than 30")

In [5]:
if 25 == 30:
    print("25 and 30 are exacly the same value")

In [6]:
if not 25 == 30:
    print("25 and 30 are NOT exacly the same value")

25 and 30 are NOT exacly the same value

In [7]:
if 25 = 30:
    print("25 and 30 are exacly the same value")

SyntaxError: invalid syntax (<ipython-input-7-13e255727256>, line 1)

In [8]:
num = 225
if num > 0:
    print("The number is greater than 0")

The number is greater than 0

In [9]:
if num:
    print("The number is greater than 0", num)

The number is greater than 0 225

In [10]:
test = -1
if test:
    print("The number is greater than 0", test)

The number is greater than 0 -1

In [11]:
if 165 + 35 == 100 + 100:
    print("165 + 35 == 100 + 100 is correct")

165 + 35 == 100 + 100 is correct

In [12]:
if 55 >= 45:
print("55 >= 45")

IndentationError: expected an indented block (<ipython-input-12-22d69131be50>, line 2)

In [13]:
salary = 1000
expenses = 770

In [14]:
living_with_means = False
if salary - expenses > 0:
    living_with_means = True

In [15]:
print ("Am I living within my means?", living_with_means)

Am I living within my means? True

In [16]:
if 100 > 50 > 10:
    print ("100 > 50 > 10")

100 > 50 > 10

In [17]:
if 100 < 50 < 10:
    print ("100 < 50 < 10")

In [18]:
salary = 1000
expenses = 770
living_with_means = salary - expenses > 0
if living_with_means and expenses > 500:
    print ("I'm glad you're saving but perhaps your expenses could be lower?")

I'm glad you're saving but perhaps your expenses could be lower?

In [19]:
if 2 <= 5 or 7 >= 8:
    print ("this is printed because 2 is definitely less than 5")

this is printed because 2 is definitely less than 5

In [20]:
salary = 1000
expenses = 770

if salary > expenses:
    print ("Saving for the month: ", salary - expenses)
else:
    print ("Loan to tide you over: ", expenses - salary)

Saving for the month:  230

In [21]:
salary = 1000
expenses = 1100

if salary > expenses:
    print ("Saving for the month: ", salary - expenses)
else:
    print ("Loan to tide you over: ", expenses - salary)

Loan to tide you over:  100

In [23]:
some_list = [3, 4, 6, 10, 100, 22, 21, -1]
if(min(some_list) < 0):
    print ("Smallest value in list is negative")
else: 
    print ("Smallest value in list is postive")

Smallest value in list is negative

In [26]:
salary = 1000
expenses = 1100

savings = 0
loans = 0

if salary > expenses:
    savings = salary - expenses
    print ("Saving for the month: ", savings)
else:
    loans = abs(salary - expenses)
    print ("Loan to tide you over: ", loans)
    
print("Savings: ", savings, "Loans: ", loans)

Loan to tide you over:  100
Savings:  0 Loans:  100

In [27]:
classic_cars = ["Pierce Arrow", "Oldsmobile", "Mustang"]
sport_cars = ["Agera", "Regera", "Chiron", "Veyron"]
planes = ["A380", "747", "A370"]

In [28]:
transportation = "Chiron"
if(transportation in classic_cars):
    print ("Your type of transportation is a classic cars")
if(transportation in sport_cars):
    print ("Your type of transportation is a sport cars")
if(transportation in planes):
    print ("Your type of transportation is a plans")

Your type of transportation is a sport cars

In [30]:
luxury_cars_and_their_hoursepowers = {"Phantom": 414,
                                     "Culinan": 420,
                                     "Wraith": 465,
                                     "Ghost": 420,
                                     "Dawn": 420}

In [31]:
if "Phantom" in luxury_cars_and_their_hoursepowers:
    print("The Phantom is in luxury_cars_and_their_hoursepowers")

The Phantom is in luxury_cars_and_their_hoursepowers

In [32]:
if "Maybach" not in luxury_cars_and_their_hoursepowers:
    print("The Phantom is in luxury_cars_and_their_hoursepowers")

The Phantom is in luxury_cars_and_their_hoursepowers

In [35]:
math_score = 90
if math_score < 20:
    print ("I'm afraid that is not a great score", math_score)
elif math_score < 50:
    print ("Oh you can definitely better than this", math_score)
elif math_score < 80:
    print ("Ah you're close to the highest grade you can get", math_score)
elif math_score < 100:
    print ("You did greate at math", math_score)

You did greate at math 90